<select multiple class="admin__control-multiselect" data-bind="
    attr: {
        name: inputName,
        id: uid,
        size: size ? size : '6',
        disabled: disabled,
        'aria-describedby': noticeId,
        placeholder: placeholder
    },
    hasFocus: focused,
    optgroup: options,
    selectedOptions: value,
    optionsValue: 'value',
    optionsText: 'label'"
/>
<div class="multiselect_action">
    <div class="multiselect_action-box">
        <button class="multiselect_action-button" data-bind="i18n: 'Select All', click: selectAll"></button>
    </div>
    <div class="multiselect_action-box" data-bind="visible: counter() > 0">
        <button class="multiselect_action-button" data-bind="i18n: 'Reset All', click: resetAll"></button>
    </div>
</div>
